// Specific CSS for your home-page
.home-page {
  background-image: url("home-splat.png");
  background-repeat:no-repeat;
  background-position: center;
}


.splat-secondary {
  width: 130px;
  height: 130px;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  letter-spacing: 1px;
}

.slogan-2 {
  text-align: right;
  margin-bottom: 80px;
}

.value-prop {
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.question {
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-align: center;
}

.magic-line-homepage {
  width: 255px;
  border: 1px solid black;
  margin: 20px auto;
}

.img-steps {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.step {
  background-repeat:no-repeat;
  margin: 40px 0px;
}


.step-text {
  text-align: center;
  font-size: 22px;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
}


.or {
  text-align: center;
  font-size: 24px;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 60px;
}

#why-use {
  font-size: 28px;
}

#accent-fluido {
  color: #D90146;
  font-size: 28px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 1px 1px 1px #B2A5A3;
}

