// Specific CSS for your home-page

.hompage_navbar {
  height: 55px;
  background: #D90146;
  padding: 15px;
  text-align: right;
}

.homepage-header-item {
  padding: 0 20px;
  cursor: pointer;

  a {
   color: white;

   &:hover {
    text-decoration: none;
    color: #B2A5A3;
   }
  }
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  letter-spacing: 1px;
}

.backdrop-gradient {
  background: linear-gradient(#D90146, $light-gray);
  height: 500px;
  padding-top: 40px;
}

.title-fluido {
  width: 80%;
  margin: auto;
  color: white;

  h1 {
    font-size: 68px;
    text-align: center;
    text-shadow: 0px -2px 5px black;
  }

}

.value-prop {
  width: 90%;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 80px auto;

  p {
    color: white;
    text-shadow: 0px -2px 4px grey;
    font-size: 26px;
  }
}

.homepage-button {
  margin: 40px auto;
}

.question {
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-align: center;
}

.magic-line-homepage {
  width: 255px;
  border: 1px solid black;
  margin: 20px auto;
}

.img-steps {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.step {
  background-repeat:no-repeat;
  margin: 40px 0px;
}


.step-text {
  text-align: center;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;

  p {
    font-size: 18px;
  }
}


.or {
  text-align: center;
  font-size: 24px;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 60px;
}

#why-use {
  font-size: 28px;
}

#accent-fluido {
  color: #D90146;
  font-size: 28px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 1px 1px 1px #B2A5A3;
}

