// Specific CSS for your home-page

.home-page {
  background: url("http://localhost:3000/assets/triangle-4b1e5bb690c8fca949974cfa1f2a07884758e0e14a54bca91eecabc83d0ad0f5.png");
  background-repeat: no-repeat;
  background-position: 0% 55%;

  span {
    font-size: 36px;
  }
}

.hompage_navbar {
  height: 55px;
  background: #D90146;
  padding: 15px;
  text-align: right;
}

.homepage-header-item {
  padding: 0 20px;
  cursor: pointer;

  a {
   color: white;

   &:hover {
    text-decoration: none;
    color: #B2A5A3;
   }
  }
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  letter-spacing: 1px;
}

.backdrop-gradient {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background: linear-gradient(#D90146, $light-gray);
  height: 500px;
  padding: 40px;

}

.title-fluido {
  width: 80%;
  margin: auto;
  color: white;

  h1 {
    font-size: 68px;
    text-align: center;
    text-shadow: 0px -2px 5px black;
  }

}

.value-prop {
  width: 80%;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 80px auto;

  p {
    color: white;
    text-shadow: 0px -2px 4px grey;
    font-size: 30px;
  }
}


.homepage-button {
  height: 56px;
}


.steps {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 65px;
  height: 350px;
}

.question {
  width: 90%;
  margin: 0 auto;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  text-align: center;

  h2 {
    font-size: 30px;
  }
}

.magic-line-homepage {
  width: 255px;
  border: .5px solid black;
  margin: 20px auto 50px auto;
}


.step-text {
  width: 70%;
  text-align: center;
  margin: 20px auto;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;

  p, span {
    font-size: 18px;
  }
}

.triangle {
  width: 100%;

  p {
  text-align: center;
  margin: auto auto;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  }
}


.or {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  font-size: 30px;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
}


#accent-fluido {
  margin: 0px 5px;
  color: #D90146;
  font-size: 28px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 1px 1px 1px #B2A5A3;
}

.backdrop-gradient-reversed {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background: linear-gradient(360deg, #D90146, $light-gray);
  height: 500px;
  padding: 40px;

}

