#teachers-shadow {
  box-shadow: none;
}

.teacher_navbar {
  height: 55px;
  background: #D90146;
  padding: 15px;
  //text-align: right;
}

.teacher-header-item {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;

  a {
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #B2A5A3;
      transition: 0.5s;
    }
  }
}

#accent-fluido-header {

  a {
    font-family: 'Permanent Marker';
    text-shadow: 1px 1px 1px black;
  }
}


.about-sign-up {
  //margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-teaching-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 40px;

}

.teach-gradient {
  height: 200px;
}

#space {
  margin-right: 10px;
  font-size: 40px;
}


span {
  font-size: 30px;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.magic-line-aboutpage {
  margin: 80px auto;
  border: 1px solid black;
  width: 60%;
}

.first-line-about {
  margin: 120px auto 80px auto;
}

.about-teaching-title {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #B2A5A3;
  }
}


.about-teaching-details p {
  width: 60%;
  margin: 35px auto;
  text-align: center;
  font-size: 18px;
  color: #B2A5A3;
  font-family: 'Quicksand', sans-serif;
}

.teacher-gradient-reversed {
  height: 200px;
  padding: 0px 0px;

}
