<h1>Languages#index</h1>
<p>Find me in app/views/languages/index.html.erb</p>



<%= render 'lessons/search-form' %>


<!-- <div><% @languages.each do |l| %>
    <%= link_to l.name, lessons_path(l) %>
  <% end %>
</div> -->
