<div class="spacemaker" style="margin-top:100px"></div>

<h1>Update your profile</h1>

<% if @user.photo != nil %>
  <%= cl_image_tag @user.photo, :width=>150, :height=>150 %>
<% end %>


<%= render 'users/form' %>

<%= link_to :back, class: "back" do %>
  <div class="back-button">Back</div>
<% end %>




