<div class="spacemaker" style="margin-top:100px"></div>

<div class="container" id="user-edit-page">

  <h1 id="edit-header">Update your profile</h1>
  <div class="magic-line-homepage"></div>


  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <div class="edit-photo">
        <% if @user.photo != nil %>
          <%= cl_image_tag @user.photo %>
        <% end %>
      </div>

      <%= render 'users/form' %>

    </div>
  </div>

  <div class="spacemaker" style="margin-top:100px"></div>
</div>




