
<div class="temp">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<%= link_to languages_index_path do %>
   <button type="button" class=" btn btn-success">Choose your language</button>
 <% end %>



