<div class="spacemaker" style="margin-top:100px"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <div class="about-sign-up">
        <% if user_signed_in? %>
          <%= link_to 'Create a Lesson', new_lesson_path, class: "jd-border-button-med" %>
        <% else %>
          <%= link_to "Sign up", new_user_session_path, class: "jd-border-button-med" %>
        <% end %>
      </div>


      <div class="about-teaching-header">
        <span id="space">Why teach on</span>
        <span id="accent-fluido">Fluido</span>
        <span>?</span>
      </div>

      <div class="magic-line-aboutpage"></div>
      <div style="margin: 80px 0px"></div>

      <div class="about-teaching-title">
        <span>Teach your way</span>
      </div>

      <div class="about-teaching-details">
        <p>All you need is a webcam and a microphone</p>
        <p>Take on as many students as you want</p>
        <p>Teach from wherever convenient</p>
      </div>

      <div class="magic-line-aboutpage"></div>
      <div style="margin: 80px 0px"></div>

      <div class="about-teaching-title">
        <span>Earn a little extra.</span>
      </div>

      <div class="about-teaching-details">
        <p>Chose your price</p>
        <p>Relax. Fluido handles all the payment</p>
      </div>


      <div class="magic-line-aboutpage"></div>
      <div style="margin: 80px 0px"></div>

      <div class="about-teaching-title">
        <span>Talk to the world.</span>
      </div>

      <div class="about-teaching-details">
        <p>Help start a growing community</p>
        <p>Hear stories from around the globe</p>
      </div>


      <div style="margin: 80px 0px"></div>


      <div class="about-sign-up">
        <% if user_signed_in? %>
          <%= link_to 'Create a Lesson', new_lesson_path, class: "jd-border-button-med" %>
        <% else %>
          <%= link_to "Sign up", new_user_session_path, class: "jd-border-button-med" %>
        <% end %>
      </div>


      <div style="margin: 80px 0px"></div>

    </div>
  </div>
</div>



