<div class="container">
  <div class="search-language">

    <form action="<%= lessons_path %>" method="GET">
      <select name="query" >
        <option value="English">English</option>
        <option value="Spanish">Spanish</option>
        <option value="French">French</option>
        <option value="German">German</option>
        <option value="Italian">Italian</option>
        <option value="All">All Languages</option>
      </select>
      <button type="submit" class=" search-button btn">Search</button>
    </form>

  </div>
</div>
