<div class="container">
  <div class="search-language">

    <form action="<%= lessons_path %>" method="GET">
      <input type="text" name="query">
      <button type="submit" class=" search-button btn">Search</button>
    </form>

  </div>
</div>
