<div class="spacemaker" style="margin-top:100px"></div>

<div class="container">

  <h1 id="edit-header">Teach your way</h1>
  <div class="magic-line-homepage"></div>

  <%= render 'form', lesson: @lesson %>

</div>
