<h1>Lessons#show</h1>
<p>Find me in app/views/lessons/show.html.erb</p>

<%= @lesson.language.name %>
<%= @lesson.price %>
<%= @lesson.description %>


<%= link_to edit_lesson_path do %>
   <button type="button" class=" btn btn-success">Edit</button>
 <% end %>
