.jd-card-square-fluido {
  /*Don't copy this margin*/
  margin: 100px;
  position: relative;
  width: 275px;
  //height: 350px;
  border: 1px solid #B2A5A3;
  color: #B2A5A3;
  //background: whitesmoke;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  //box-shadow: 0px 1px 3px #B2A5A3;
}
.show-avatar {
  position: absolute;
  top: -75px;
  right: 70px;
}
.show-avatar-circle > img {
  width: 125px;
  height: 125px;
  border: 2px solid #B2A5A3;
  border-radius: 50%;
}

.flags-on-card {
  position: absolute;
  top: 5px;
  right: 55px;
}

.country-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.show-name-box {
  border: 2px solid #B2A5A3;
  //background: #B2A5A3;
  // width: 271px;
  position: absolute;
  padding: 0px 10px;
  top: 75px;
  left: 100px;
  z-index: -1;
  p {
    margin-bottom: 0px;
    text-align: center;
    color: #B2A5A3;
  }
}

.show-content {
  padding-top: 115px;
}

.show-country {
  font-size: 14px;

}

.show-average-rating {
  margin: -10px;
}

.yellow-star {
  color: gold;
  font-size: 16px;
}

.grey-star {
  color: #B2A5A3;
  font-size: 16px;
}

.show-price {
  margin-top: 20px;
  p {
    font-size: 20px;
    color: #D90146;
  }
}

.show-price {
  font-size: 16px;
}

.show-magic-line {
  width: 200px;
  background: #B2A5A3;
  height: 2px;
  margin: 0px auto;
}

.show-description {
  text-align: center;
  margin-top: 15px;
  .description-body {
    font-size: 14px;
  }
  
  li {
    list-style-position: inside;
    text-align: left;
    padding-left: 35px;
  }
}

button {
  
}




