.form-container {
  padding: 5px 50px;
  padding-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  border-color: rgb(204, 204, 204);
  max-width: 500px;
  margin: auto;
  justify-content: center;

  h2 {
    text-align: center;
  }
}

.form-button1 {
  display: flex;
  justify-content: center;
}
.form-button2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.booking-form {
  text-align: center;

  h4 {
    margin: 20px 0px;
  }
}

.flatpickr-month {
  height:40px !important;
}

.start_date_label{
  margin-top: 0px;
}

.booking-form--details{
  .form-group {
    margin-top: 0px !important;
    margin-bottom: 40px !important;
  }
}

.review-detials {

  h4 {
    margin-bottom: 40px;
  }
}


.form-check-input {
  margin-right: 5px !important;
}

input#lesson_price {
  border: 1px solid #ccc;
  max-width: 95%;
}

textarea#lesson_description {
  border: 1px solid #ccc;
  max-width: 95%;
}

select#lesson_language_id.form-control {
  max-width: 95%;
}

#edit-form_prompts {
  color: #B2A5A3;
}

.label-booking {
  color: #B2A5A3;
}
