.form-container{
  padding: 5px 50px;
  padding-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  border-color: rgb(204, 204, 204);
  max-width: 500px;
  margin: auto;
  justify-content: center;

  h2 {
    text-align: center;
  }
}

.form-button1{
  display: flex;
  justify-content: center;
}
.form-button2{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.booking-form {
  text-align: center;

  h4 {
    margin: 20px 0px;
  }
}

.flatpickr-month{
  height:40px !important;
}

.start_date_label{
  margin-top: 0px;
}


.form-group {
    margin-top: 0px !important;
    margin-bottom: 40px !important;
}

.review-detials{
  h4{
    margin-bottom: 40px;
  }
}
