.messages-chatlist {
  /*Requires Permanent Marker font from Google Fonts*/
  width: 325px;
  height: 55px;
  background: white;
  color: #D90146;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  padding: 0px 30px;
  box-shadow: 0px 2px 2px #B2A5A3;
  z-index: 1;
  margin: 75px auto;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 3px;
}


.messages-header-logo {
  margin: 10px auto;
}

.messages-show-current {
  margin: 0px auto;
  p {
    font-size: 25px;
  }

}

.fa-angle-down {
  cursor: pointer;
  margin-left: 100%;
  margin-top: 5px;
  border: 2px solid #D90146;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 14px;
}


















.messages-past-field {
  background: white;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  margin: 5px auto;
  width: 325px;
}

.messages-mine-right {
  text-align: right;
  margin-bottom: 10px;
}

.messages-other-left {
  text-align: left;
  margin-bottom: 10px;
}

.messages-owner {
  color: #D90146;
  margin-bottom: 0px;
}

.messages-form {
 margin: 0px auto;
  text-align: center;
}

#message_content {
  width: 325px;
  margin: 20px 0px;
  border-radius: 5px;
  border-color: none;
  white-space: pre-line;
}

.show-send-button {
  color: white;
  //border: 1px solid #D90146;
  background: #D90146;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  font-size: 20px;


}
