#show-hide-search {
  display: flex;
  justify-content: space-around;
}

#find-by-button {
  // This ID inherits from jd-border-button-med in button scss components
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    margin-left: 8%;
  }
}

#search-bar-icon {
  // This ID inherits from .fa-angle-down in messages-chat-display-scss
  cursor: pointer;
  margin-left: 65%;
  margin-bottom: 3px;
  border: 2px solid #D90146;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 14px;
}


#search-bar {
  transition: 0.3s;
}

.search-bar-is-hidden {
  display: none;
}




#search-bar select, #search-bar input {
  font-size: 20px;
  width: 240px;
  height: 52px;
  margin: 15px 0;
  padding: 5px;
  transition: all 0.3s ease-in-out;


  &:focus {
    outline: none;
    box-shadow: 0 0 3px 2px #B2A5A3;
  }
}


#search-bar input {
  border-style:solid;
  border:1px solid #cccccc;
  border-radius: 5px;

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 2px #B2A5A3;
  }
}

#search-bar button {
  margin: 15px 0;
}

#space-around-row, .search-field {
  display: flex;
  justify-content: space-around;
}

