.has-events{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.has-events img{
  margin-top: 10%;
}

.day{
height: 120px;
font-family: 'Quicksand', sans-serif;
font-size: 15px;
  img{
    max-width: 50px;
  }
}

.simple-calendar{
  width: 90%;
  // max-width: 200px;
  align: center;
}

thead th{
  text-align: center;
}

h5{
  margin-bottom: 5px;
}

h6{
  margin-top: 0px;
  color: #D90146;
}

.table{
box-shadow: 0px 2px 2px 0px gray;
border-radius: 5px 5px 0px 0px;
font-family: 'Quicksand', sans-serif;
margin-bottom: 50px;
}

.calendar-title{
  display: none;
  font-family: 'Quicksand', sans-serif;
}


.calendar-heading{
  display: flex;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  a{
    font-size: 15px;
  }
}


.dash-bookings-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;

  }
}

.card_dashboard{
  width: 80%;
  background-color: #DAC9C9;
  align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 1px 0px gray;
  border-radius: 5px;
  .language_flag{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
  }
}

.show-lesson{
  margin-bottom: 0px;
  margin-top: 0px;
}


.pg-card-square-fluido {
  /*Don't copy this margin*/
  margin: 100px auto;
  margin-top: 90px;
  position: relative;
  width: 275px;
  //height: 350px;
  border: 1px solid #B2A5A3;
  color: #B2A5A3;
  //background: whitesmoke;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  //box-shadow: 0px 1px 3px #B2A5A3;
  margin-bottom: 20px;
}

.pg-contain{
  font-family: 'Quicksand', sans-serif;
  h1{
    font-size: 30px;
    margin-bottom: 30px;
  }
  h3{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  p{
    font-size: 15px;
  }
}

.lessons h3{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.classes h3{
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}


// .form-control{
//   width: 300px;
//   margin-left: auto;
//   text-align: center;
// }

.form-control-label{
  display: none;
}
.calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black_line{
border-bottom: 1px solid black;
margin-top: 20px;
margin-bottom: 20px;
width: 80%;
text-align: center;
}

.dash-bookings-content{
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .avatar_user{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #D90146;
  }
}

.message-button{
  height: 50px;
  width: 50px;
}

.dash-option-button{
  margin-top: 10px;
}
.message-if-nothing{
  display: flex;
  flex-direction: column;
  align-items: center;

}












