
// If we want background triangles, uncomment these two classes!!!


.dashboard-entire-page-triangle-left {
  background-image: image-url('triangle.png');
  background-repeat: no-repeat;
  background-size: 600px 25%;
  background-position: 0% 88%;
}

.dashboard-entire-page-triangle-right {
  background-image: image-url("trianglePointingLeft.png");
  // transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: 100% 25%;
  background-size: 600px 25%;
}

.has-events{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.has-events img{
  margin-top: 10%;
}

// .both-video-box{
// display: flex;
// justify-content: space-around;
// padding: 0px;
// }

#local-media video{
 max-width: 20%;
 max-height: 20%;
 border-radius: 5px;
 position: absolute;
 left: 0px;
 bottom: 6px;
 min-height: 50px;
}


// #remote-media video{
//  position: relative;
//  width: 100%;
//  border-radius: 5px;
//  padding: 0px;
//  max-height: 500px;
//  max-width: 666px;
// }

// #remote-media{
//   padding: 0px;
// }

.calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.calendar-heading a {
  position: relative;
  width: 90px;
  height: 36px;
  background: white;
  color: #B2A5A3;
  border: 1px solid #B2A5A3;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;

  &:hover {
    background: #D90146;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
}

#scheduled-day-filled {
  margin: 10px auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #D90146;
}


.day{
  height: 120px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  text-align: center;
}

.simple-calendar{
  width: 90%;
  // max-width: 200px;
  align: center;
}


thead th{
  text-align: center;
  background: white;
}

td {
  background: white;
}

h5{
  margin-bottom: 5px;
}

h6{
  margin-top: 0px;
  color: #D90146;
}

.table {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 50px;
}

.calendar-title{
  display: none;
  font-family: 'Quicksand', sans-serif;
}


.calendar-heading{
  display: flex;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  a{
    font-size: 15px;
  }
}


.dash-bookings-title{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #B2A5A3;
  }
}


.card_dashboard {
  position: relative;
  display: flex;
  align-items: center;

  height: 115px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #B2A5A3;
  min-width: 200px;

  .language_flag {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 10px;
    left: 65px;
    border: 1px solid #B2A5A3
  }
}

.show-lesson{
  margin-bottom: 0px;
  margin-top: 0px;
}


.pg-card-square-fluido {
  /*Don't copy this margin*/
  margin: 100px auto;
  margin-top: 90px;
  position: relative;
  width: 275px;
  //height: 350px;
  border: 1px solid #B2A5A3;
  color: #B2A5A3;
  //background: whitesmoke;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  //box-shadow: 0px 1px 3px #B2A5A3;
  margin-bottom: 20px;
}

#controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

#room-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
    button {
    width: 79%;
    margin-left: 10.5%;
    border-radius: 5px;
    margin-top: 5px;
    }
}

#room-name{
  width: 79%;
  margin-left: 10.5%;
  border-radius: 5px;
}

.my_container{
  font-family: 'Quicksand', sans-serif;
  h1{
    font-size: 30px;
    margin-bottom: 30px;
  }
  h3{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  p{
    font-size: 15px;
  }
}

.lessons h3{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.classes h3{
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}


.form-control-label{
  display: none;
}


.dash-bookings-content{
  .form-control{
  width: 40%;
  margin-left: 30%;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  text-align: center;
  }
  .btn{
  width: 40%;
  margin-left: 30%;
  margin-top: 0px !important;
  padding-top: 0px !important;
  }
}

.join {
  height: 52px;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  background: #D90146;
  color: white;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  transition: 0.4s ease-in-out;

  &:hover {
    background: white;
    border: 1px solid #D90146;
    color: #B2A5A3;
    cursor: pointer;
  }
}

.black_line_dashboard{
  border-top: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1 {
    font-family: "Quicksand";
  }
}


.black_line{
border-bottom: 1px solid black;
margin-top: 20px;
margin-bottom: 20px;
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
}


.dash-learning-from-time {
  text-align: center;
  p{
    margin-bottom: 0px;
    font-size: 15px;
  }
}

.dash-bookings-content{
  margin-top: 20px;

  .avatar_user {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #B2A5A3;
  }
}

// .learning-from-name-and-status-booking {
//   margin-left: 10%;
//   h4{
//   margin-bottom: 10px ;
//   }
//   // p{
//   //   font-size: 15px;
//   //   text-align: center;
//   // }
// }

.learning-from-name-and-status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10%;

  button {
    width: 50%;
    margin-left: 10px;
  }
}

.dash-lesson-buttons {
  display: flex;
  justify-content: space-between;
}

.message-button{
  height: 50px;
  width: 180px;
}

.dash-option-button{
  margin-top: 10px;
}
.message-if-nothing{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.flex-symbols{
  margin: 10px 80px -5px 80px;
  display: flex;
  justify-content: space-around;
  color: black;
}


.flex-symbols a, .flex-symbols i {
  text-decoration: none;
  color: black;
  justify-content: space-around;
  font-size: 20px;
  transition: 0.5s;

  &:hover {
    color: #D90146;
    transform: scale(1.1);
    }
}

.sexy-line {
  width: 70%;
  display:block;
  margin: 0 auto;
  border:none;
  color:$light-gray;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#000), to(whitesmoke));
}








