.has-events{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.has-events img{
  margin-top: 10%;
}

.both-video-box{
display: flex;
justify-content: space-around;
padding: 0px;
}

#local-media video{
 max-width: 20%;
 max-height: 20%;
 border-radius: 5px;
 position: absolute;
 left: 0px;
 bottom: 6px;
 min-height: 50px;
}

#remote-media video{
 position: relative;
 width: 100%;
 border-radius: 5px;
 padding: 0px;
 max-height: 500px;
 max-width: 666px;
}

#remote-media{
  padding: 0px;
}

.day{
height: 120px;
font-family: 'Quicksand', sans-serif;
font-size: 15px;
  img{
    max-width: 50px;
  }
}

.simple-calendar{
  width: 90%;
  // max-width: 200px;
  align: center;
}

thead th{
  text-align: center;
}

h5{
  margin-bottom: 5px;
}

h6{
  margin-top: 0px;
  color: #D90146;
}

.table{
box-shadow: 0px 2px 2px 0px gray;
border-radius: 5px 5px 0px 0px;
font-family: 'Quicksand', sans-serif;
margin-bottom: 50px;
}

.calendar-title{
  display: none;
  font-family: 'Quicksand', sans-serif;
}


.calendar-heading{
  display: flex;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  a{
    font-size: 15px;
  }
}


.dash-bookings-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}


.card_dashboard {
  position: relative;
  display: flex;
  align-items: center;

  height: 115px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #B2A5A3;
  min-width: 200px;

  .language_flag {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 10px;
    left: 65px;
    border: 1px solid #B2A5A3
  }
}

.show-lesson{
  margin-bottom: 0px;
  margin-top: 0px;
}


.pg-card-square-fluido {
  /*Don't copy this margin*/
  margin: 100px auto;
  margin-top: 90px;
  position: relative;
  width: 275px;
  //height: 350px;
  border: 1px solid #B2A5A3;
  color: #B2A5A3;
  //background: whitesmoke;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  //box-shadow: 0px 1px 3px #B2A5A3;
  margin-bottom: 20px;
}

#controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

#room-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
    button {
    width: 79%;
    margin-left: 10.5%;
    border-radius: 5px;
    margin-top: 5px;
    }
}

#room-name{
  width: 79%;
  margin-left: 10.5%;
  border-radius: 5px;
}

.my_container{
  font-family: 'Quicksand', sans-serif;
  h1{
    font-size: 30px;
    margin-bottom: 30px;
  }
  h3{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  p{
    font-size: 15px;
  }
}

.lessons h3{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.classes h3{
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}

// .form-control{
//     display: block;
//     width: 100%;
//     height: 30px;
//     padding: 6px 12px;
//     font-size: 12px;
//     line-height: 1.428571429;
//     color: #000000;
//     background-color: #fff;
//     background-image: none;
//     border: 1px solid #ccc;
//     border-radius: 2px;
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//     transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
//     margin: 0px;
// }

// .btn{
//   display: inline-block;
//     margin-bottom: 10px !important;
//     font-weight: normal;
//     text-align: center;
//     vertical-align: middle;
//     touch-action: manipulation;
//     cursor: pointer;
//     background-image: none;
//     border: 1px solid transparent;
//     white-space: nowrap;
//     padding: 6px 12px;
//     font-size: 12px;
//     line-height: 1.428571429;
//     border-radius: 2px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     margin: 0px;
// }

.form-control-label{
  display: none;
}
.calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}



.black_line{
border-bottom: 1px solid black;
margin-top: 20px;
margin-bottom: 20px;
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
}

.dash-learning-from-time {
  text-align: center;
}

.dash-bookings-content{
  margin-top: 20px;

  .avatar_user {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #B2A5A3;
  }
}

.learning-from-name-and-status {
  margin-left: 10%;
}

.dash-lesson-buttons {
  display: flex;
  justify-content: space-between;
}

.message-button{
  height: 50px;
  width: 180px;
}

.dash-option-button{
  margin-top: 10px;
}
.message-if-nothing{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.flex-symbols{
  margin: 10px 80px -5px 80px;
  display: flex;
  justify-content: space-around;
  color: black;
}
.flex-symbols a {
  text-decoration: none;
  color: black;
  justify-content: space-around;

}
.lesson-status{
  margin: 0px !important;
  font-size: 12px !important;
  padding: 0px !important;
}
